.text {
  stroke: white;
  fill: white;
  font-size: 2rem;
  transform: translate(-15px, 4px);
}

.node {
    fill: transparent;
    stroke: transparent;
}

.path {
    stroke: #666666;
    fill: #222222;
}