@import "./animations.scss";

/* Whole Page Styles */
$h2-offset: 100vw / 20;
$full-dim: max(100vw * 1.25, 100vh * 1.25);
$small-device-width: 575.98px;
$stretch-outer-circle-size: min(90vw, 90vh);
$button-size: min(10vw, 10vh);
$half-button-size: min(6vw, 6vh);
$dash-circle-size: min(18vw, 18vh);
$dash-size: Min(10vw, 10vh);
$dash-font-size: min(6vw, 6vh);
$outer-circle-color: #2e2e2e;
$stretch-background-color: rgb(63, 155, 101);

@media (max-width: $small-device-width) {
  $h2-offset: 0;
  $button-size: 80px;
  $dash-size: 40px;
}

@mixin absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/// Mixin to place items on a circle
/// @author Kitty Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size, $offset-deg) {
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    $angle: (180 / $item-count);
    $rot: $offset-deg;
    transform-origin: center;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: translateX(-50%)
          translateY(-50%)
          rotate($rot)
          translate($circle-size);
        // rotate($rot * -1);
      }

      $rot: $rot + $angle;
    }
  }
}

.no-transition-on-load * {
  transition: none !important;
}

.hidden {
  opacity: 0;
}

body {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: white;
  font-family: monospace;
  background: linear-gradient(
    45deg,
    #831100,
    #8f1212,
    #917312,
    #797a11,
    #0e641c,
    #0d5d61,
    #160f70,
    #6b0e74,
    #5a0063
  );
  background-size: 1500% 1500%;
  animation: rainbow 30s ease infinite;
}

#pureFullPage {
  width: 100vw;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Page */
header {
  text-align: center;
  display: flex;
  justify-content: center;
}

header > .name-text {
  animation: blur-loop $pulse-duration infinite forwards $timing-function;
  width: fit-content;
  padding: 1em;
  border-left: white 12px solid;
  border-right: white 12px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

@keyframes arrow-grow {
  from {
    top: -112px;
  }
  to {
    top: 0px;
  }
}

@keyframes arrow-flicker {
  from {
    visibility: visible;
  }
  29% {
    visibility: visible;
  }
  30% {
    visibility: hidden;
  }
  31% {
    visibility: hidden;
  }
  32% {
    visibility: visible;
  }
  33% {
    visibility: visible;
  }
  34% {
    visibility: hidden;
  }
  35% {
    visibility: hidden;
  }
  36% {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}

.down-arrow {
  position: relative;
  transform: rotate(-45deg);
  box-shadow: 32px -32px 0px white inset;
  width: 80px;
  height: 80px;
  margin: 32px 0;
  transition: transform 0.2s;
}

.down-arrow:hover {
  transform: rotate(-45deg) scale(1.1);
}

.down-arrow:nth-child(2) {
  top: -112px;
  animation: arrow-grow 1s forwards linear, arrow-flicker 10s infinite forwards;
  animation-delay: 1s;
}

.down-arrow:nth-child(3) {
  top: -224px;
  animation: arrow-grow 1s forwards linear;
  animation-delay: 2s;
}

h1 {
  animation: text-fade $pulse-duration infinite forwards $timing-function,
    blur-loop $pulse-duration infinite forwards $timing-function;
  font-size: 48px;
}

/* About Me Page */

h2 {
  margin: 0;
  color: white;
  font-size: 2em;
}

h2:nth-child(1) {
  margin-left: 0px;
}

h2:nth-child(2) {
  margin-left: $h2-offset * 1;
}

h2:nth-child(3) {
  margin-left: $h2-offset * 2;
}

h2:nth-child(4) {
  margin-left: $h2-offset * 3;
}

h2 > a {
  color: white;
  font-size: 2.5em;
  text-decoration: underline;
}

#food-container {
  text-align: center;
  font-size: 0.75em;
  margin-top: 32px;
  margin-right: 32px;
  float: right;
}

#food {
  margin-top: 8px;
  width: 300px;
}

@media (max-width: $small-device-width) {
  h2 {
    font-size: 1.5em;
  }

  h2 > a {
    font-size: 2em;
  }

  #about-me-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #food-container {
    margin-right: 0;
  }

  #food {
    width: 200px;
  }
}

/* Stretch Page */

@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: $full-dim;
    height: $full-dim;
  }
}

.stretch {
  width: 100%;
  height: 100%;
  @include absolute-centered();
  // background-color: rgb(63, 155, 101);
  border-radius: 10000px;

  &-outer-circle {
    width: $stretch-outer-circle-size;
    height: $stretch-outer-circle-size;
    @include absolute-centered();
    border-radius: 10000px;
    background: $outer-circle-color;
  }

  &-inner-circle {
    width: 100%;
    height: 100%;
    @include absolute-centered();
    border-radius: 10000px;
    background-color: $stretch-background-color;
    transition: width 1.2s linear, height 1.2s linear;
  }

  &__text {
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__rep > h4,
  &__set > h4 {
    font-size: 6vw;
    margin: 0;
  }

  &__rep > h5,
  &__set > h5 {
    font-size: 1vw;
    margin: 0;
  }

  &__time > h4 {
    font-size: 8vw;
    display: none;
  }

  &__time {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &__button {
    @include absolute-centered();

    & > button {
      border: none;
      outline: none;

      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: $button-size;

      border-color: transparent transparent transparent $outer-circle-color;
      transition: 100ms all ease;
      transform: translateX(min(1vw, 1vh));
      cursor: pointer;

      // play state
      border-style: solid;
      border-width: $half-button-size 0 $half-button-size $button-size;

      &.pause {
        border-style: double;
        border-width: 0px 0 0px $button-size;
        transform: translateX(min(0vw, 0vh));
      }

      &:hover {
        border-color: transparent transparent transparent #404040;
      }
    }
  }

  &__dashes {
    @include absolute-centered();

    &__dash {
      transition: opacity 3s;
      width: calc(#{$dash-size} / 1.5);
      height: $dash-size;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);

      &[data-status="active"] {
        background: rgb(255, 255, 255);
        animation: pulse 2s infinite forwards linear;
      }

      &[data-status="done"] {
        background: rgb(255, 255, 255);
      }

      & > span {
        @include absolute-centered();
        color: $stretch-background-color;
        font-size: $dash-font-size;
      }
    }
  }

  &__set__dashes {
    @include on-circle(
      $item-count: 3,
      $circle-size: $dash-circle-size,
      $item-size: $dash-size,
      $offset-deg: 120deg
    );

    &__dash {
      &[data-status="active"] {
        background: rgb(103, 255, 230);
        animation: pulse 4s infinite forwards linear;
      }

      &[data-status="done"] {
        background: rgb(0, 238, 255);
      }
    }
  }

  &__rep__dashes {
    @include on-circle(
      $item-count: 5,
      $circle-size: $dash-circle-size,
      $item-size: $dash-size,
      $offset-deg: -72deg
    );
  }
}
